<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="clientId" value="BiPGYgLODGFuzLuE6ldKDpL6"/>
    <add key="clientSecret" value="MYRTXfnXRZMRUg6TmpgHcQOtKkNQEkqk"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
